@model Lection

@{
	ViewData["Title"] = "List of Lections";
}

@*Define ViewData*@

<div class="row">
	<div class="col-md-8 offset-2 col-xs-6 border-primary mb-3">
		<div>
			<iframe width="100%" height="640px" src="@Model.LinkURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="py-2">
			<div class="row">
				<div class="col-md-6">
					<h3 class="card-title">@Model.Name</h3>
				</div>
				<div class="col-md-6 float-end">
					<span onclick="ajaxFavoriteRequest()" class="float-end mx-2" style="font-size: 32px"><i class="bi bi-heart"></i></span>
					<span onclick="ajaxWatchLaterRequest()" class="float-end" style="font-size: 32px"><i class="bi bi-stopwatch"></i></span>
				</div>
			</div>
			<span class="card-text btm">@Model.Views Views </span>
			<span class="card-text btm">@Model.Year year </span>
			<span class="card-text">@Model.Duration min</span>
			<p class="card-text my-2">@Model.Description</p>
			<p class="card-text">
				@if (Model.Lectors_Lections.Count > 1)
				{
					<b>Lectors: </b>
				}
				else
				{
					<b>Lector: </b>
				}
				@foreach (var lector in Model.Lectors_Lections)
				{
					<span>@lector.Lector.FullName </span>
				}
			</p>
			<p class="card-text p-1">
				<span class="bg-black text-white rounded px-1">@Model.LectionCategory</span>
			</p>
		</div>
	</div>
</div>>

<div class="container" id="addFWLection" style="display: none;position: fixed;bottom: 1%; left: 1%;background-color: #524646;font-size: 15px;color: white; padding: 6px;width: 25%">
	<span id="addFWLectionText">Lection was added to Favorite list</span>
	<button type="button" class="btn-close btn-close-white float-end" onclick="closeModalWindow()" aria-label="Close"></button>
</div>

<script>
	function showModalWindow() {
		console.log("Show");
		$("#addFWLection").show(function(){
    		setTimeout(() => {
        		$("#addFWLection").hide();
			},4000)
		});
	}
	function closeModalWindow(){
		console.log("Hide");
		$("#addFWLection").hide();
	}

	function ajaxFavoriteRequest(){
		console.log("Success click on heart");
		$.ajax({
			url: '/Profile/addFavorite',
			data: { LectionId: @Model.Id },
			dataType: "json",
			type: "get",
			cache: false,
			success: function (result) {
				console.log(result);
				$("#addFWLectionText").text(result);
				showModalWindow();
			},
			error: function () {
				console.log("Error");
			}
		});
	}

	function ajaxWatchLaterRequest(){
		console.log("Success click on watch");
		$.ajax({
			url: '/Profile/addWatchLater',
			data: { LectionId: @Model.Id },
			dataType: "json",
			type: "get",
			cache: false,
			success: function (result) {
				console.log(result);
				$("#addFWLectionText").text(result);
				showModalWindow();
			},
			error: function () {
				console.log("Error");
			}
		});
	}

	function ajaxHistoryRequest(){
		console.log("Success enter to the lection");
		$.ajax({
			url: '/Profile/addHistory',
			data: { LectionId: @Model.Id },
			dataType: "json",
			type: "get",
			cache: false,
			success: function (result) {
				$("#addFWLectionText").text(result);
				console.log(result);
			},
			error: function (result) {
				console.log(result);
			}
		});
	}

	$(document).ready(ajaxHistoryRequest);
</script>
