@*Define mddel*@
@model FilterVM

@{
	ViewData["Title"] = "List of Movies";
}

@*Define ViewData*@

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
	<div class="container-fluid">
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<form id="formFilter" method="get" asp-action="Index">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item dropdown">
						<a class="nav-link text-dark dropdown-toggle" id="lectorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 700; font-size: 18px">
							<i class="bi bi-star-fill pe-2"></i>
							@ViewBag.selectedLector
						</a>

						<div class="dropdown-menu" aria-labelledby="lectorsDropdown">
							@foreach (var item in Model.LectionDropdownsVM.Lectors)
							{
								<input type="button" class="dropdown-item fw-bold" value="@item.FullName" onclick="addSelectedLector(this)" />
							}
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-dark dropdown-toggle" id="yearDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 700; font-size: 18px">
							<i id="bidr" class="bi bi-calendar3 pe-2"></i>
							@ViewBag.selectedYear
						</a>

						<div class="dropdown-menu" aria-labelledby="yearDropdown">
							@foreach (var item in Model.LectionDropdownsVM.Year)
							{
								<input type="button" value="@item" class="dropdown-item fw-bold" onclick="addSelectedYear(this)" />
							}
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-dark dropdown-toggle" id="lectorssDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 700; font-size: 18px">
							<i class="bi bi-card-checklist pe-2"></i>
							@ViewBag.selectedCategory
						</a>

						<div class="dropdown-menu" aria-labelledby="lectorssDropdown">
							@foreach (var item in Model.LectionDropdownsVM.LectionsCategory)
							{
								<input type="button" value="@item" class="dropdown-item fw-bold" onclick="addSelectedCategory(this)" />
							}
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-dark dropdown-toggle" id="filterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 700; font-size: 18px; text-underline: none"><i class="bi bi-filter"></i> 
							@ViewBag.selectedFilter
						</a>

						<div class="dropdown-menu" aria-labelledby="filterDropdown">
							<input type="button" value="Views up" class="dropdown-item fw-bold" onclick="addSelectedFilter(this)"></i></a>
							<input type="button" value="Views down" class="dropdown-item fw-bold" onclick="addSelectedFilter(this)"></i></a>
							<input type="button" value="Released up" class="dropdown-item fw-bold" onclick="addSelectedFilter(this)"></i></a>
							<input type="button" value="Released down" class="dropdown-item fw-bold" onclick="addSelectedFilter(this)"></i></a>
						</div>
					</li>
				</ul>

				<input hidden asp-for="SelectedLector" />
				<input hidden asp-for="SelectedYear" />
				<input hidden asp-for="SelectedCategory" />
				<input hidden asp-for="SelectedFilter" />
			</form>
		</div>
	</div>
</nav>

<div id="result" class="container">
	<div class="row">
		@foreach (var item in Model.Lections)
		{
			<div class="col-md-3 col-xs-6 border-primary mb-3">
				<div class="card mb-3" style="max-width: 325px;">

					<div class="row g-0">
						<span style="opacity: 1;">
							<img class="rounded" style="position: absolute; top: 0; letf: 0; width: 100%" src="@item.ImageURL" />
						</span>
						<div class="col-md-12" style="z-index: 2">
							<a class="text-white" style="font-size: 24px" asp-action="Edit" asp-route-id="@item.Id">
								<i class="bi bi-pencil-square"></i>
							</a>
						</div>
						<a class="" asp-action="Details" asp-route-id="@item.Id">
							<div class="text-lection shadow col-md-12">
								<div class="part-text-lection">
									<div class="" style="font-size: 16px">
										<span class="tshadow">@item.Name</span>
									</div>
									<div>
										@foreach (var lectors in item.Lectors_Lections)
										{
											<span class="tshadow">@lectors.Lector.FullName *</span>
										}
										<span class="tshadow">@item.Year * </span>
										<span class="tshadow">@item.Duration мин</span>
									</div>
								</div>
							</div>
						</a>
					</div>

				</div>
			</div>
		}

	</div>

</div>

<div style="position: fixed; right: 25px; bottom: 25px" class="text-dark">
	<a asp-controller="Lections" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add New</a>
</div>

<script>
	function addSelectedLector(i) {
		$("#SelectedLector").val($(i).val());
		$("#formFilter").submit();
	}
	function addSelectedCategory(i) {
		$("#SelectedCategory").val($(i).val());
		$("#formFilter").submit();
	}
	function addSelectedYear(i) {
		$("#SelectedYear").val($(i).val());
		$("#formFilter").submit();
	}
	function addSelectedFilter(i){
		$("#SelectedFilter").val($(i).val());
		$("#formFilter").submit();
	}
</script>

