@model IEnumerable<Lection>

<div class="row">
	<div class="col-md-3">
		<partial name="_ProfileMenuNavigation.cshtml" />
	</div>
	<div class="col-md-9">
		@if (ViewBag.Count)
		{
			@foreach (var item in Model)
			{
				<div class="col-md-12 m-3 d-flex">
					<div>
						<a asp-controller="Lections" asp-action="Details" asp-route-id="@item.Id">
							<img width="360px" src="@item.ImageURL" />
						</a>
					</div>
					<div class="px-2">
						<div>
							<div>
								<h3>@item.Name</h3>
							</div>
							<div class="my-1">
								<span class="btm">@item.Views Views </span>
								<span>@item.Year year</span>
							</div>
						</div>
						<div>
							<p>@item.Description</p>
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<div class="col-md-12 m-3 text-center">
				<h2>There is no any favorite lection</h2>
			</div>
		}
	</div>
</div>